[package]
name = "outline"
version = "0.2.1"
authors = ["Cameron Eldridge <cameldridge@gmail.com>", "Martin Lange <martin_lange_@gmx.net>"]
description = "\"Good enough\" literate programming tool"
homepage = "https://github.com/foxfriends/outline"
repository = "https://github.com/foxfriends/outline"
license = "MIT"
exclude = ["examples/*"]
edition = "2018"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
debug = false
debug-assertions = false
overflow-checks = false

[lib]
name = "outline"
path = "src/lib.rs"

[features]
bin = ["clap", "toml", "either"]

[[bin]]
name = "outline"
path = "src/bin/main.rs"
required-features = ["bin"]
edition = "2018"

[dependencies]
serde = "1.0"
serde_derive = "1.0"
regex = "1.3"
pathdiff = "0.2"

[dependencies.toml]
version = "0.4"
optional = true

[dependencies.clap]
version = "2.32"
optional = true

[dependencies.either]
version = "1.5"
optional = true
